a{
  color: #0d5399;
}

section.section-content {
  padding: 60px 0 20px;
  min-height: 300px;
}

.no-m-r{ margin-right: 0px!important }
.no-m-b{ margin-bottom: 0px!important }

.no-p-r{ padding-right: 0px!important }

.no-p-l-r{ padding-left: 0px;padding-right: 0px;}
.p-l-r-5{ padding-left: 5px;padding-right: 5px;}

.modal-backdrop{ z-index: 997; }
/* --------------------------------------------
 *  Syicky Menu
 *----------------------------------------------- */
 
.sticky-nav{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background: #fff !important;
  padding: 0 !important;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  -webkit-transition : all .3s ease-in-out;
  -moz-transition    : all .3s ease-in-out;
  transition         : all .3s ease-in-out;
}

.sticky-nav .dropdown:hover .dropdown-menu {
  margin-top : 14px !important;
}

.sticky-nav a.navbar-brand{padding: 0}

.sticky-nav a.navbar-brand img{
  -webkit-transform: scale(0.7); /* Saf3.1+, Chrome */
  -moz-transform: scale(0.7); /* FF3.5+ */
   -ms-transform: scale(0.7); /* IE9 */
    -o-transform: scale(0.7); /* Opera 10.5+ */
       transform: scale(0.7);
}

/* --------------------------------------------
 *  Dropdown Menu
 *----------------------------------------------- */

.dropdown-menu{
  display            : inherit;
  top                : 100% !important;
  padding            : 0;
  font-size          : 13px;
  opacity            : 0;
  visibility         : hidden;
  border             : 1px solid #f5f5f5;
  border-radius      : 0;
  box-shadow         : 0px -2px 0px #000000;
  -webkit-transition : all 0.3s ease 0s;
  -moz-transition    : all 0.3s ease 0s;
  -o-transition      : all 0.3s ease 0s;
  transition         : all 0.3s ease 0s;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  transform: translateY(50px);
}

@media (max-width: 767px) {
  .dropdown-menu{  display: none; }
}



.dropdown:hover > .dropdown-menu, div.collapse ul ul li:hover > ul{
  display    : block;
  margin-top : 28px !important;
  opacity    : 1;
  visibility : visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

div.collapse ul ul ul{
  top: -25px!important;
  left: 100%;
}

.dropdown-menu::before {
  top      : -30px;
  content  : "";
  position : absolute;
  width    : 100%;
  height   : 30px;
  display  : block;
}

.nav-item .menu-icon{
  font-size: 30px;
  color: #0d5399;
  text-align: center;
}

.nav-item{
  padding: 0 7px;
  font-size: 15px;
}

/* sub menu */
.navbar-light .navbar-nav .nav-link {
  color: rgb(64, 64, 64);
}
.btco-menu li > a {
  padding: 10px 15px;
  color: #000;
}

.btco-menu .active a:focus, .btco-menu li a:focus , .navbar > .show > a:focus{
  background: transparent;
  outline: 0;
}

.dropdown-menu .show > .dropdown-toggle::after{
  transform: rotate(-90deg);
}

.dropdown-menu .dropdown-toggle::after{
  margin-left: 10px;
}

.with-user-bar{
  margin-top: 45px;
}

#searchModal{ font-size: 13px; }
#searchModal select, #searchModal input, #searchModal button{ font-size: 13px; }
#searchModal button.close{ font-size: 20px; }

/* --------------------------------------------
 *  Main Banner
 *----------------------------------------------- */

#main-slider {
  overflow: hidden;
}

#main-slider .item {
background-position: 50% 0;
background-repeat: no-repeat;
background-size: cover;
}

#main-slider .slider-inner {
  color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#main-slider .slider-inner h2 {
  color: #fff;
  font-size: 36px;
  line-height: 1;
  margin-top: 180px;
  text-transform: uppercase;
}
#main-slider .slider-inner h2 > span {
  color: #45aed6;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev, #main-slider .owl-next {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  height: 70px;
  line-height: 70px;
  margin-top: -35px;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: background-color 400ms ease 0s;
  width: 70px;
  z-index: 5;
  opacity: 0;
}
#main-slider:hover .owl-prev, #main-slider:hover .owl-next {
  background-color: #45aed6;
  opacity: 1;
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  background: #45aed6 none repeat scroll 0 0;
  height: 4px;
  max-width: 100%;
  width: 0;
}
#progressBar {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  margin-top: -4px;
  position: relative;
  width: 100%;
  z-index: 1;
}

/* --------------------------------------------
 *  Footer
 *----------------------------------------------- */

 .footer {
  background-color: #313131;
  color: #969595;
  font-size: 14px;
}

footer .footer-block {
  border-right: 1px solid #3a3a3a;
  padding: 50px 60px 40px;
}

.footer .footer-block.last {
  border-right: 0;
}

.footer .footer-widget h3 {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer .copyright-section {
  background-color: #2d2d2d;
  color: #efefef;
  padding: 20px 0;
}

.list-inline {
  margin-bottom: 0
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

#toTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: cornflowerblue;
  cursor: pointer;
  display: none;
  z-index: 9999;
  width: 30px;
  height: 30px;
  border: 2px solid cornflowerblue;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

/* --------------------------------------------
 *  Page Title
 *----------------------------------------------- */

.single-page-title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(77, 109, 227, 0.76);
}

.single-page-title {
  background: url(/assets/img-page-title.jpg) no-repeat bottom;
  width: 100%;
  background-attachment: fixed;
  padding: 40px 0;
  position: relative;
}

.single-page-title h2 {
  display        : inline-block;
  font-size      : 46px;
  font-weight    : 100;
  margin-bottom  : 0;
  color          : #fff;
  position: relative;
  z-index: 1;
}

/* --------------------------------------------
 *  Breadcrumb
 *----------------------------------------------- */

ol.breadcrumb{
  background-color: transparent;
  float: right;
  margin: auto 0;
  font-size: 13px;
}

ol.breadcrumb > li > a{ color: #3e3e3e; font-size: 13px; }
ol.breadcrumb > li > a:hover{ color: #efefef; }
ol.breadcrumb > li.active{ color: #efefef; }

.breadcrumb-item + .breadcrumb-item::before {
  color: #3e3e3e;
}

/* --------------------------------------------
 *  About Us
 *----------------------------------------------- */

.about-us{
  font-size: 14px;
  color: #303841;
  margin-bottom: 40px;
}
.about-us h2{
  font-size: 24px;
  margin-bottom: 40px;
}

.about-us .our-company p {text-align: justify; margin-bottom: 20px;}

.our-value{
  border-top: 1px solid #f0f1f3;
  font-size: 14px;
  color: #303841;
  margin-bottom: 50px;
}

.our-testimony{
  font-size: 14px;
  color: #303841;
  background-color: #e9e9e9;
  text-align: center;
}

.our-testimony .testimony-box{
  padding-left: 150px;
  padding-right: 150px;
}

.our-testimony h3, .our-testimony img{
  margin-bottom: 30px;
}

.our-testimony .blue-text{
  color: cornflowerblue;
}

.our-testimony .testimony-content{
  font-size: 17px;
  margin-bottom: 30px;
  font-style: italic;
  line-height: 30px;
}

.our-testimony .testimony-name{
}

.our-testimony .testimony-company{
  color: #999;
  margin-bottom: 40px;
}

.our-testimony .flexslider{
  background-color: #e9e9e9;
  border: none;
  margin: 0;
}

.our-testimony .flexslider .slides img{
  width: auto;
  display: inline;
}

.our-testimony ol.flex-control-paging{ position: unset; }


/* --------------------------------------------
 *  Product + Service Center
 *----------------------------------------------- */

.product-side-menu .product-side-menu-title,
.service-center-side-menu .service-center-side-menu-title{
  border-bottom: none;
  background-color: #363b4d;
  padding: 20px 10px;
  text-align: center;
  color: #fff;
  font-size: 16px!important; 
}

.product-side-menu .card-header, .service-center-side-menu .card-header{ font-size: 13px; }
.product-side-menu .card-header a,
.service-center-side-menu .card-header a{ 
  display: block;
  -webkit-transition : all .2s ease-out;
  -moz-transition    : all .2s ease-out;
  transition         : all .2s ease-out;
}
.product-side-menu .card-header a:hover,
.service-center-side-menu .card-header a:hover { 
  text-decoration: none;
  color: cornflowerblue; 
}
.product-side-menu .card-header a.active,
.service-center-side-menu .card-header a.active { 
  text-decoration: underline;
  color: cornflowerblue;
  font-weight: 600;
}

.product-side-menu .card-body, .service-center-side-menu .card-body{ padding: 10px 25px;}
.product-side-menu .card-body .my-fa-ul,
.service-center-side-menu .card-body .my-fa-ul{ 
  list-style-type: none; 
  padding-left: 0;
  margin-bottom: 0px;
 }
.product-side-menu .card-body .my-fa-ul li,
.service-center-side-menu .card-body .my-fa-ul li { font-size: 13px; }
.product-side-menu .card-body .my-fa-ul li i,
.service-center-side-menu .card-body .my-fa-ul li i { margin-right: 7px; font-size: 10px!important;}

.product-side-menu .card-body .my-fa-ul li a.hover{text-decoration: underline;color: #000}


.product-list h2, .service-center-list h2{
  border-bottom: 1px solid #dbdbdb;
  box-shadow: 0 1px 0 #dbdbdb;
  padding-bottom: 20px;
  color: #363b4d;
}

.pd-box {
  width: 100%;
  float: left;
  padding: 15px;
  margin: 15px 0;
  background: #fff;
  color: #484848;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition : all .3s ease-out;
  -moz-transition    : all .3s ease-out;
  transition         : all .3s ease-out;
}

.pd-box:hover{
  border-color: #dbdbdb;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.pd-box .pd-box-title h4{
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 18px;
}

.pd-box .pd-box-title h4 a {
  -webkit-transition : all .3s ease-out;
  -moz-transition    : all .3s ease-out;
  transition         : all .3s ease-out;
}
.pd-box .pd-box-title h4 a:hover{
  text-decoration: none;
  color: cornflowerblue;
}

.pd-box .pd-box-desc{
  font-size: 13px;
  color: #484848;
  margin-bottom: 20px;
}

.pd-box .pd-box-detail a{
  -webkit-transition : all .3s ease-out;
  -moz-transition    : all .3s ease-out;
  transition         : all .3s ease-out;
  color: #ff6262;
  position: relative;
  text-decoration: none;
  font-size: 13px;
}

.pd-box .pd-box-detail > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff6262;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.pd-box .pd-box-detail > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.tg-featuretag:before {
  top: 0;
  left: 100%;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 10px solid #f91942;
}

.tg-themetag {
  top: 40px;
  left: 27px;
  z-index: 2;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  position: absolute;
  background: #f91942;
  padding: 5px 3px 3px 10px;
  text-transform: uppercase;
}

.tg-featuretag:before, .tg-featuretag:after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
}

.tg-featuretag:after {
  top: 100%;
  left: 0;
  border-top: 5px solid #b10f2c;
  border-left: 5px solid transparent;
}

.products-detail{
  background-color: #f2f2f2;
}

#carousel img { opacity: .5; cursor: pointer; }
#carousel img:hover { opacity: 1; }
#carousel .flex-active-slide img{
  opacity: 1;
  cursor: default;
}

.products-detail .product{
  background-color: #fff;
  margin-top: 15px;
  border-radius: 5px;
}

.products-detail .product h2{
  padding: 20px 0;
  color: #363b4d;
}

.products-detail .pd-desc{
  position: relative;
  margin: 30px 0;
  font-size: 13px;
}

.products-detail .pd-desc:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 40px;
  background-color: cornflowerblue;
  background-repeat: no-repeat;
  z-index: 1;
  top: 45px;
  left: 0;
}

.products-detail .pd-desc h3{
  font-size: 20px;
  margin-bottom: 35px;
  line-height: 30px;
}

.products-detail .pd-desc p{
  font-size: 13px;
  line-height: 22px;
}
.products-detail .pd-desc .specification h3, .products-detail .pd-desc .item-detail h3{
  font-size: 20px;
  margin-bottom: 15px;
  color: cornflowerblue;
}

.products-detail .pd-desc .specification ul,
.products-detail .pd-desc .item-detail ul{
  list-style: outside none none;
  margin: 0 0 30px;;
  padding: 0;
}

.products-detail .pd-desc .specification ul > li:before {
  text-align: center;
  content: "\f105";
  height: 16px;
  width: 16px;
  position: absolute;
  font-family: FontAwesome;
  left: 0;
  top: 3px;
  border-radius: 50%;
  z-index: 1;
  line-height: 1.2;
  color: #ffffff;
  background-color: #fcaf01;
}

.products-detail .pd-desc .specification ul > li {
  /* width: 100%;
  box-sizing: border-box;
  float: left; */
  padding-left: 30px;
  position: relative;
  margin-bottom: 10px;
  margin-right: 5px;
  color: #646464;
}

.products-detail .pd-desc .item-detail ul > li{
  margin-bottom: 20px;
  font-weight: 600;
}

.products-detail .pd-desc .item-detail ul > li > span{ 
  font-weight: 400;
  margin-left: 10px;
  color: #646464;
}

.products-detail .related-product{
  margin-bottom: 35px;
  position: relative;
}

.products-detail .related-product h3{
  font-size: 25px;
  border-bottom: 1px solid #dbdbdb;
  box-shadow: 0 1px 0 #dbdbdb;
  padding-bottom: 20px;
  color: #363b4d;
}

.products-detail .related-product  ol.flex-control-paging{ position: unset; }

.service-center-list .show-service-center{ display: inline}
.service-center-list .hide-service-center{ display: none}

/* --------------------------------------------
 *  Service Center & Store Location
 *----------------------------------------------- */

.service-center-list h2, .store-location-list h2 { margin-bottom: 35px; }
.service-center, .store-location { margin-bottom: 35px; }
.service-center h4, .store-location h4{
  font-size: 15px;
  font-weight: 600;
}

.service-center .service-center-detail,
.store-location .store-location-detail  { font-size: 13px; }


/* --------------------------------------------
 *  Contact Us
 *----------------------------------------------- */

.contact-us-information{
  background-color: #f0f1f3;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 60px 0;
  padding: 50px 0!important;
 }

.contact-us-information .address,
.contact-us-information .phone,
.contact-us-information .email{ 
  display: table;
  background-color: #fff;
  width: 100%;
}
.contact-us-information .address .address-icon,
.contact-us-information .phone .phone-icon, 
.contact-us-information .email .email-icon{
  color: #fff;
  width: 82px;
  font-size: 30px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid #f1f1f1;
}

.contact-us-information .address .address-icon{ background-color: #4d6de3; }
.contact-us-information .phone .phone-icon{ background-color: #fce38a; }
.contact-us-information .email .email-icon{ background-color: #7ac38f; }

.contact-us-information .info-detail{
  padding: 30px 40px;
  border: 1px solid #f1f1f1;
  border-left: 0;
  background-color: #fff;
  font-size: 13px;
  color: #000;
  text-align: left;
}
.contact-us-information .info-detail h3 { font-size: 18px;margin-bottom: 25px; }
.contact-us-information .info-detail .addr { margin-bottom: 20px; }
.contact-us-form{ margin: 60px 0; }
.contact-us-form .title h2{ font-size: 30px;text-align: center; color: #303841; 
                            font-weight: 300; line-height: 1.5em; margin-bottom: 50px;}

.contact-us-form .form-control {
  height: 53px;
  padding: 6px 20px;
  font-size: 13px;
  line-height: 24px;
  color: #303841;
  border: 1px solid #F1F1F1;
  border-radius: 0;
  box-shadow: none;
  border-color: transparent;
  background-color: #f9f9f9;
}

.contact-us-form .form-group textarea{
  padding: 12px;
  height: auto;
}

.contact-us-form .form-group input:focus,
.contact-us-form .form-group textarea:focus{
  border-color: #4d6de3;
}

.contact-us-form button{ font-size: 13px; font-weight: 300; padding: 12px 30px;}


/* --------------------------------------------
 *  Home
 *----------------------------------------------- */

.h-about-us{
  padding: 40px 0!important;
  min-height: 0px!important;
}

.h-about-us .h-about-us-header{
  margin-bottom: 30px;
}
.h-about-us .h-about-us-header:after {
  content: '';
  display: block;
  margin-top: 30px;
  width: 40px;
  border-top: 2px solid cornflowerblue;
}
.h-about-us p, .h-about-us .wow p{ font-size: 13px;line-height: 25px;}

.h-about-us a.c-our-product{ padding: 10px 45px; margin-top: 30px; }
.h-about-us a.c-our-product:hover{ 
  background-color: cornflowerblue;
  border-color: rgb(72, 128, 231);
}


.h-about-us .wow{ margin-top: 70px; }
.h-about-us .wow .fancy-title{ border-bottom: 2px solid cornflowerblue; margin-bottom: 20px;}
.h-about-us .wow .fancy-title h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.h-about-us .wow .fancy-title h4 span{ color: cornflowerblue; }


.h-best-seller{ padding-top: 30px!important; }
.h-best-seller h2{
  font-size: 30px;
  text-align: center;
}

.h-best-seller #best-seller-carousel  ol.flex-control-paging{ position: unset; }

.popular-brands{
  padding: 20px 0 40px!important;
  min-height: 0px!important;
}

.popular-brands .b-header{
  position: relative;
  text-align: center;  
}

.popular-brands .b-header:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #303841;
  left: auto;
  top: 50%;
  right: 0;
}

.popular-brands h2{ 
  font-size: 30px;
  text-align: center; 
  margin: 30px 10px;
  color: #303841;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 10px;
  font-weight: 400;
}

.popular-brands .brand{
  padding: 0 25px;
  margin: 25px 0;
}

.popular-brands .brand img{ 
  opacity: 0.4;  
  -webkit-transition : all .3s ease-out;
  -moz-transition    : all .3s ease-out;
  transition         : all .3s ease-out;
}
.popular-brands .brand img:hover{ opacity: 1; }


/* --------------------------------------------
 *  Login
 *----------------------------------------------- */

.login{
  margin-left: 25%;
  background-color: #e5e5e5;
}

.login h1{
  margin: 20px 0 40px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .login{
    margin-left: 16.66%;
  }
}

@media (max-width: 767px) {
  .login{
    margin-left: 0;
  }
}

section.logged-user{
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 40px;
}

section.logged-user .row{
  padding: 0px;
  margin: 0px;

}


.user-info-bar #login-pan a {
  float: right;
}
.user-info-bar a {
  border-left: 1px solid #1ca696;
  border-right: 1px solid #1ca696;
  color: #ffffff;
  display: block;
  float: left;
  height: 44px;
  margin-left: -1px;
  padding: 10px 12px 0 34px;
  position: relative;
  font-family: "Open Sans",sans-serif
}

.user-info-bar a:hover{
  background-color: #188b7e;
}

.user-info-bar a .icon {
  bottom: auto;
  left: 14px;
  position: absolute !important;
  right: auto;
  top: 13px;
  z-index: 1;
}

.user-info-bar{
  background-color:#1fb7a6;
  z-index: 1;
  height: 45px;
  font-size: 14px;
}


















