<section class="single-page-title single-page-title-about">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Store Location</h2>
      </div>
      <div class="col-md-5 align-self-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <!-- 
            <li class="breadcrumb-item"><%#= link_to "Admin", dashboard_path %></li>
            -->
            <li class="breadcrumb-item active" aria-current="page">Admin</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="section-content">
  <div class="container">
    <div class="row">
      <p>
        Welcome Admin
      </p>
    </div>
  </div>
</section>

